.advantages {
  position: relative;
  padding: 50px 0;
  background: var(--bg-gradient);
  background-color: var(--carrot);
  border-radius: 80px 80px 0 0;

  @media (min-width: 768px) {
    padding: 80px 0;
    border-radius: 120px 120px 0 0;
  }

  @media (min-width: 1024px) {
    border-radius: 200px 200px 0 0;
  }

  @media (min-width: 1440px) {
    padding: 102px 0;
    border-radius: 300px 300px 0 0;
  }
}

.advantages__title {
  margin: 0 0 24px;

  @media (min-width: 768px) {
    margin: 0 0 32px;
  }

  @media (min-width: 1440px) {
    margin: 0 0 50px;
  }
}

.advantages__list {
  display: grid;
  gap: 32px;
  text-align: center;

  @media (min-width: 768px) {
    gap: 50px;
  }

  @media (min-width: 1024px) {
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 20px;
  }

  @media (min-width: 1440px) {
    gap: 24px;
  }
}

.advantages__item-img-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 75px;
  margin: 0 0 12px;

  @media (min-width: 768px) {
    height: 158px;
  }

  @media (min-width: 1024px) {
    height: 160px;
  }

  @media (min-width: 1440px) {
    height: 256px;
  }
}

.advantages__item-title {
  margin: 0 0 3px;
  font-size: var(--font-size-h2);

  & br {
    @media (max-width: 1023px) {
      display: none;
    }
  }

  @media (min-width: 768px) {
    margin: 0 0 14px;
  }

  @media (min-width: 1440px) {
    margin: 0 0 12px;
  }
}

.advantages__decor {
  position: absolute;
  top: -82px;
  right: 0;
  z-index: -1;

  @media (min-width: 768px) {
    top: -176px;
  }

  @media (min-width: 1024px) {
    top: -242px;
  }

  @media (min-width: 1440px) {
    top: -338px;
  }
}

.advantages__stats {
  position: absolute;
  top: -88px;
  left: 0;
  z-index: 1;
  display: grid;
  grid-auto-columns: min-content;
  place-content: center;
  width: 140px;
  aspect-ratio: 1;
  text-align: center;
  background-image: url("/img/star.svg");
  background-repeat: no-repeat;
  background-size: 100% 100%;

  @media (min-width: 768px) {
    top: -102px;
    width: 201px;
  }

  @media (min-width: 1024px) {
    width: 257px;
  }

  @media (min-width: 1440px) {
    top: -115px;
    width: 307px;
  }
}

.advantages__stats-number {
  font-size: 20px;
  font-weight: 700;

  @media (min-width: 768px) {
    font-size: 32px;
  }

  @media (min-width: 1024px) {
    font-size: var(--font-size-h1);
  }
}
