.btn {
  display: flex;
  gap: 4px;
  align-items: center;
  justify-content: center;
  padding: 16px 31px;
  font-size: var(--font-size-text);
  font-weight: 700;
  color: var(--light);
  cursor: pointer;
  background: 0 0;
  background: var(--purple);
  border: none;
  border-radius: 40px;

  &:hover {
    background: #ac4fd8;
  }

  @media (max-width: 767px) {
    border-radius: 100vmax;
  }
}

.btn span {
  @media (max-width: 767px) {
    display: none;
  }
}
